body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fadeMenu {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.toolboxMove {
  transition: top 0.4s ease-in-out 0.4s;
  transform: translate(-50%, 0%);
  touch-action: none;
  pointer-events: none;
}

.toolboxStatic {
  transform: translate(-50%, 0%);
  touch-action: none;
  pointer-events: none;
}

.tbChild {
  pointer-events: auto;
}

.spotlight {
  transition: left 0.07s linear, top 0.07s linear;
  transform: translate(-50%, -50%);
}


.teal-tooltip.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: var(--teal-500);
}

.teal-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--teal-500);
}
.teal-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--teal-500);
}

.fiIcon {
  fill: currentColor;
  stroke: currentColor;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.magicPath {
  fill: #80ffff;
  animation: dash 15s linear infinite;
  stroke-dasharray: 10, 10;
  stroke-linecap: round;
  fill-opacity: 0.5;
  cursor: grab;
}

.selectedPath {
  stroke: #33ffff;
  animation: dash 60s linear infinite;
  stroke-dasharray: 3, 3;
  stroke-width: 3;
/*  stroke-linecap: round;*/
}

.selectedImage {
  border: 3px solid #33ffff;
  animation: dash 60s linear infinite;
  stroke-dasharray: 3, 3;
  stroke-width: 3;
  border-style: dashed;
}

.blackboardBlackNote {
  background-color: #505050;
  opacity: 1.0;
  background-image: radial-gradient(#696969 0.8px, #505050 0.8px);
  background-size: 30px 30px;
}

.blackboardWhiteNote {
  background-color: #efefef;
  opacity: 1.0;
  background-image: radial-gradient( #c0c0c0  0.8px,#efefef 0.8px);
  background-size: 30px 30px; 
}

.blackboardBlack {
  background-color: #505050;
}

.blackboardWhite {
  background-color: #efefef;
}

.fade-in-welcome {
  animation: fadeInWelcome linear 3s;
}

@keyframes fadeInWelcome {
  0% {opacity:0;}
  100% {opacity:1;}
}